@model IEnumerable<WebApplication3.Models.Blogg>

@{
    ViewBag.Title = "Blogg";
}

<h2>Velkommen til bloggene</h2>

<p>
    @Html.ActionLink("Lag ny Blogg", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Blogg")
        </th>
        <th>
            @Html.DisplayName("Dato Opprettet")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Blogg_tekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dato)
        </td>
        <td>
            @Html.ActionLink("Endre", "Edit", new { id=item.Blogg_Id }) |
            @Html.ActionLink("Se Blogg", "InnleggIndex", "Innlegg", new { id=item.Blogg_Id }, null) |
            @Html.ActionLink("Slett", "Delete", new { id=item.Blogg_Id })
        </td>
    </tr>
}

</table>
