@model WebApplication3.Models.InnleggMedKommentarer

@{
    ViewBag.Title = "Kommentar";
    
}

<h2>Kommentarer</h2>

<p>
    
    @Html.ActionLink("Kommenter", "Create", new { id = ViewBag.innleggId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Tittel")
        </th>
        <th>
            @Html.DisplayName("Kommentar tittel")
        </th>
        <th>
            @Html.DisplayName("Kommentar")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.kommentarer) {
    <tr>
        <td>
            @Html.DisplayFor(modelTtem => item.innlegg.Innlegg_Tittel)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kommentar_Tittel)
            </td>
        <td>
         
            @Html.ActionLink("Tilbake til innleggene", "InnleggIndex" , "Innlegg" , new {id = item.innlegg.Blogg_Id}, null)
        </td>
    </tr>
}

</table>
