@model WebApplication3.Models.InnleggMedKommentarer

@{
    ViewBag.Title = "Kommentarer";
    
}
<h4 class="text-right">@Html.DisplayName(Model.innlegg.Dato.ToLongDateString())</h4>
<h2 class="text-center">@Html.DisplayName(Model.innlegg.Innlegg_Tittel)</h2>
<p>
<h4 class="text-center">@Html.DisplayName(Model.innlegg.Innlegg_Tekst)</h4>
    </p>
<br />
<p>
    
   @if(Model.innlegg.KommentarTillat == true) 
   { 
       @Html.ActionLink("Kommenter", "Create", new { id = ViewBag.innleggId })
   }
   else 
   {
        <h3>Dette innlegget kan ikke kommenteres</h3>
   }            
    </p>
<br />
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayName("Kommentar tittel")
        </th>
        <th>
            @Html.DisplayName("Kommentar")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.innlegg.kommentarer) {
    <tr>
        
            <td>
                @Html.DisplayFor(modelItem => item.Kommentar_Tittel)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kommentar_tekst)
        </td>
       <td>
           @Html.ActionLink("Slett", "Delete", new { id = item.Kom_id })
       </td>
    </tr>
}


</table>
<br />
@Html.ActionLink("Tilbake til innleggene", "InnleggIndex", "Innlegg", new { id = Model.innlegg.Blogg_Id }, null)


